* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "HeaderFont";
  src: url(881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2");
}

@font-face {
  font-family: "ConnectText";
  src: url(232a5c3d425d536fab667982b4af2a2b.woff2) format("woff2");
}

@font-face {
  font-family: "WalletText";
  src: url(90c4bcc588b255c82225626a97d43318.woff2) format("woff2");
}

.comp-height {
  min-height: 100vh;
  padding: 24px 0;
}